[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiopg = "==1.0.0"
aioprocessing = "==1.0.1"
docker-compose = "==1.26.2"

[requires]
python_version = "3.7"
